<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />

    <title>QLibrary</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home'%}">QLibrary</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'show_book' %}"
              >All Books <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_book' %}">Add Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'returnBook' %}">Return Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">logout</a>
          </li>
        </ul>
      </div>
      <!-- Profile Info needs to have work  -->
      <div class="content-section">
        <div class="media">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            style="width: 50px; margin: 8px"
            alt="Avatar"
            href="#"
          />
          </div>
        </div>
      </div>
    </nav>
    <section class="heading bar">
      <div class="title">
        <h1
          style="
            font-size: 4rem;
            margin-top: 7.2rem;
            margin-left: 6rem;
            font-weight: bold;
          "
        >
          Welcome to the QLibrary
        </h1>
      </div>
      <div
        class="quick-action"
        style="
          display: flex;
          margin-left: 4.2rem;
          justify-content: left;
          padding: 20px;
        "
      >
        <div class="wishlist mx-3 my-2">
          <a type="button" class="btn btn-success" href="{% url 'wishlistbook' %}">Add Wishlist</a>
        </div>
        <div class="Borrow mx-4 my-2">
          <a type="button" class="btn btn-success" href="{% url 'loanBook' %}"
            >Loan Book</a
          >
        </div>
      </div>
    </section>

    <section
      class="features-3 mx-5 py-5"
      style="display: flex; flex-wrap: wrap; justify-content: center"
    >
      <!--#1 card-->
      <div class="card mx-1 mb-2" style="width: 17rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <!--#2 card-->
      <div class="card mx-1 mb-2" style="width: 17rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <!--#3 card-->
      <div class="card mx-1 mb-2" style="width: 17rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <!--#4 card-->
      <div class="card mx-1 mb-2" style="width: 17rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <style>
        @media screen and (max-width: 767px) {
          .features-3 {
            flex-direction: column;
          }

          .card {
            width: 100%;
          }
        }
      </style>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>
  </body>
</html>
